@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Rubik:400,700');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src:url('https://fonts.googleapis.com/css?family=Roboto:400,700');
}

head {}

body {}

footer {}

p {
}

h1 {
}

h2{
}

h3{
}

.content-main {
  width: auto;
  height: auto;
}

.side-nav{
  width: 16%;
  height: 100%;
  float: right;
}

.banner-top {
  height: 100px;
}

.top-nav {
}

.header-nav-list li{
  display: inline;
  font-size: 1.2em;
  height: 30px;
  width: 100%;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2em;
  margin: auto;
}

.footer-info {
  height: 50px:
}

#banner-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#copyright {
  font-size: 0.7em
}
