@font-face {
  font-family: "Rubik";
  src: local(resources\fonts\RubikMonoOneregular.ttf) format('truetype');
}

head {

}

body {

}

footer {

}

p {

}

h1 {

}
h2{

}

h3{

}

.banner-top {

}

.top-nav {

}

.header-nav-list {
  display: inline-block;
}

.footer-info {

}

#banner h1 {
  font-family: "Rubik", monospace;
  font-size: 48px;
}

#copyright {

}
